:root {
	/* Font-sizing */
	--fontSizeHuge: clamp(1.5rem, 5vw, 2rem);
	--fontSizeLarge: clamp(1rem, 5vw, 2rem);
	--fontSizeMedium: clamp(1rem, 5vw, 2rem);
	--fontSizeSmall: clamp(0.75rem, 5vw, 1.5rem);

	/* Font-weights */
	--fontWeightLight: 300;
	--fontWeightNormal: 400;
	--fontWeightMedium: 500;
	--fontWeightBold: 700;

	/* Guidelines */
	--gapSmall: 0.5rem;
	--gapMedium: 1rem;
	--gapLarge: 1.5rem;

	/* Colors */
	--colorPrimary: #12212d;
	--colorSecondary: #192b3b;
	--colorTertiary: #5995d8;
	--colorAccent: #2b4a67;
}

* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
}

.content {
	background-color: var(--colorPrimary);
	box-shadow: 0 0 10px 0 var(--colorSecondary);
	border: 1px solid var(--colorSecondary);
	gap: var(--gapMedium);
	padding: var(--gapMedium);
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 5rem;
}

.title {
	font-size: var(--fontSizeHuge);
	font-weight: var(--fontWeightBold);
}

.form {
	gap: var(--gapSmall);
	display: flex;
	flex-direction: column;
}

.form__heading {
	font-size: var(--fontSizeLarge);
	margin-bottom: var(--gapSmall);
}

.form-name__input {
	padding: var(--gapSmall);
	font-size: var(--fontSizeSmall);
	background-color: var(--colorSecondary);
	border: 1px solid var(--colorSecondary);
	width: 100%;
}

.selector-container {
	gap: var(--gapSmall);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.form-icon__input {
	font-size: var(--fontSizeHuge);
	background-color: var(--colorPrimary);
	padding: var(--gapSmall) 0;
	cursor: pointer;
	border: 1px solid var(--colorSecondary);
}

.form-color__input {
	padding: var(--gapSmall) 0;
	border: 1px solid var(--colorSecondary);
}

.button {
	background-color: var(--colorSecondary);
	font-weight: var(--fontWeightBold);
	font-size: var(--fontSizeMedium);
	padding: var(--gapSmall);
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	align-self: flex-end;
}

.left-column,
.right-column,
.category-item {
	display: flex;
	align-items: center;
}

.modal {
	height: 20vh;
}

.hidden {
	display: none;
}

.category-item {
	justify-content: space-between;
}

.selector-container {
	display: flex;
	justify-content: space-between;
}

.left-column {
	justify-content: flex-start;
}

.right-column {
	justify-content: flex-end;
}

.content-separator {
	margin: var(--gapSmall) 0;
	border: 1px solid var(--colorSecondary);
}

.category-list {
	gap: var(--gapSmall);
	display: flex;
	flex-direction: column;
}

.category-item {
	padding: var(--gapSmall);
	background-color: var(--colorSecondary);
	border: 1px solid var(--colorAccent);
	border-radius: 5px;
	cursor: pointer;
}

.category-item__icon {
	font-size: var(--fontSizeHuge);
}

.category-item__name {
	font-size: var(--fontSizeMedium);
	font-weight: var(--fontWeightMedium);
}

/* Hover and focus states */

.form-name__input:hover,
.button:hover,
.category-item:hover {
	background-color: var(--colorTertiary);
}

.button:active,
.category-item:active {
	background-color: var(--colorTertiary);
}

/* Category Color Presets */

.coral {
	background-color: #ff8370;
}
.blue-green {
	background-color: #00b1b0;
}
.freesia {
	background-color: #fec84d;
}
.fuschia {
	background-color: #e42256;
}
.lilac {
	background-color: #bd97cb;
}
.pinkish {
	background-color: #fcc2d2;
}
