:root {
	/* Font-sizing */
	--font-size-xlarge: clamp(1.5rem, 5vw, 3rem);
	--font-size-large: clamp(1.25rem, 5vw, 2.5rem);
	--font-size-medium: clamp(1rem, 5vw, 2rem);
	--font-size-small: clamp(0.75rem, 5vw, 1.5rem);

	/* Font-weights */
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;

	/* Guidelines */
	--gap-small: 0.5rem;
	--gap-medium: 1rem;
	--gap-large: 1.5rem;

	/* Colors */
	--color-primary: #4dcef2;
	--color-secondary: #4dadf2;
	--color-tertiary: #4d8cf2;
}

* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.content {
	background-color: var(--color-primary);
	box-shadow: 0 0 10px 0 var(--color-secondary);
	border: 1px solid var(--color-secondary);
	gap: var(--gap-medium);
	padding: var(--gap-medium);
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 5rem;
}

.title {
	font-size: var(--font-size-xlarge);
	font-weight: var(--font-weight-bold);
}

.form {
	gap: var(--gap-small);
	display: flex;
	flex-direction: column;
}

.form__heading {
	font-size: var(--font-size-medium);
	margin-bottom: var(--gap-small);
}

.form-name__input {
	width: 100%;
	padding: var(--gap-small);
	font-size: var(--font-size-small);
	border: 1px solid var(--color-secondary);
}

.selector-container {
	gap: var(--gap-small);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.form-icon__input {
	font-size: var(--font-size-large);
	background-color: var(--color-primary);
	padding: fit-content;
	border: none;
}

.form-color__input {
	padding: var(--gap-small);
	border: none;
}

.button {
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-bold);
	padding: var(--gap-small);
	border: none;
	border-radius: 5px;
	background-color: var(--color-secondary);
	color: white;
	cursor: pointer;
}

.content-separator {
	margin: var(--gap-medium) 0;
	border: 1px solid var(--color-secondary);
}

/* Hover and focus states */

.form-name__input:hover {
	background-color: var(--color-secondary);
}

.form-name__input:focus {
	background-color: var(--color-tertiary);
}

.button:hover {
	background-color: var(--color-secondary);
}

.button:active {
	background-color: var(--color-tertiary);
}

/* Category Color Presets */

.coral {
	background-color: #ff8370;
}
.blue-green {
	background-color: #00b1b0;
}
.freesia {
	background-color: #fec84d;
}
.fuschia {
	background-color: #e42256;
}
.lilac {
	background-color: #bd97cb;
}
.pinkish {
	background-color: #fcc2d2;
}
